#root {
  width: 100%;
  height: 100%;
}

.header {
  height: 72px;
  border-bottom: 1px solid #EEE;
  background-color: #FFF;
  box-shadow: 1px 5px 20px rgb(199 196 196 / 56%);
}

.flex-wrapper {
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.face_ui {
  width: 50vw;
  background-color: var(--modal-bg);
  border-radius: 5px;


  box-shadow: 0px 4px 8px rgb(138 143 155 / 56%);
  text-align: center;
  padding: 24px;
  margin: 0px auto;
}

.icon_scan {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 4px 0 0;
}
.grid_item {
  width: 150px;
  height: 150px;
}
.face_area {
  margin: 0px auto;
  border-radius: 2px;
  position: relative;
  margin-bottom: 20px;
  border:1px solid #FFF;


}
.face_area img {
  width: 100%;
  height: 100%;
}

.face_area canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}
.face_area video{
  width: 100%;
  height: 100%;
}

.face_area.capture_image:after {
  content: '';
  background: url(../src/assets/icons/full-screen.svg) no-repeat center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.user_pic {
  width: 242px;
  display: inline-block;
}

.user_pic img {
  width: 100%;
}
.d-flex {
  display: flex;
}